.MainStat {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: 'title race-stat';
    grid-column-gap: 15px;
    #justify-self: center;
    align-items: center;
}

.MainStat__title {
    margin: 0;
    grid-area: title;
}