.StatBlock {
    margin: 0 10px;
    padding-top: 10px;
}

.StatBlock__title {
    margin: 0;
}

.StatBlock__content {
    display: grid;
    grid-template: min-content min-content / repeat(3, max-content);
    grid-template-areas:
    'main-stat main-stat main-stat'
    'race-stat1 race-stat2 race-stat3';
    margin: 0 auto;
    padding: 5px;
    border: 1px solid white;
    width: min-content;
}

.StatBlock .MainStat {
    grid-area: main-stat;
}

.StatBlock .RaceStat--position-1 {
    grid-area: race-stat1;
}

.StatBlock .RaceStat--position-2 {
    grid-area: race-stat2;
}

.StatBlock .RaceStat--position-3 {
    grid-area: race-stat3;
}