.PageInfo {
    grid-area: page-info;
    justify-self: flex-start;
    margin: 0;
    margin-left: 80px;
    line-height: 1.4;
}

.PageInfo__site-name {
    font-family: 'Major Mono Display', monospace;
    margin: 0;
    color: hsl(0, 0%, 85%);
    font-weight: 500;
    letter-spacing: 2px;
}

.PageInfo__info {
    margin: 0;
    color: hsl(0, 0%, 47%);
    font-size: 14px;
    font-weight: 500;
}
