.PageHeader {
    grid-area: header;
    background-color: var(--header-background);
    height: 120px;
    display: grid;
    grid-template-areas: 'page-info page-title nav';
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid var(--grey);
}

.PageHeader--Login {
    display: grid;
    grid-template-areas: 'page-info page-title filler';
    grid-template-columns: 1fr 1fr 1fr;
}

.PageHeader__page-title {
    grid-area: page-title;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
    color: var(--text);
    font-family: 'Raleway', sans-serif;
    display: inline-block;
}