.ProfileSection {
    display: grid;
    grid-template: min-content 1fr / 1fr min-content;
    grid-template-areas:
    'header side-bar'
    'main-content side-bar';
    margin: 0;
    height: 100vh;
}

.ProfileSection--Overview .main-content {
    display: grid;
    grid-template: 1fr / min-content 1fr;
    grid-template-areas: 'summary analysis';
}

.ProfileSection--Login .main-content, .ProfileSection--Upload .main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    grid-area: header;
}

.main-content {
    grid-area: main-content;
    overflow-y: auto;
    margin: 5px 0;
    margin-right: 5px;
}

.main-content::-webkit-scrollbar {
    width: 8px;
    visibility: hidden;
    opacity: 1;
}

.main-content::-webkit-scrollbar-button,
.main-content::-webkit-scrollbar-track,
.main-content::-webkit-scrollbar-track-piece,
.main-content::-webkit-scrollbar-resizer {
    display: none;
}

.main-content::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 20%, 0.6);
    border-radius: 5px;
}

.side-bar {
    grid-area: side-bar;
    height: 100%;
    border-left: 1px solid hsl(0, 0%, 47%);
    width: max-content;
    display: grid;
    grid-template: 1fr min-content / 1fr;
    grid-template-areas:
    'content'
    'logout';
}

.side-bar__content {
    grid-area: content;
}

.side-bar__logout {
    grid-area: logout;
    width: min-content;
    justify-self: center;
    margin-bottom: 20px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding: 15px 60px;
    border: 1px solid hsl(0, 0%, 47%);
    border-radius: 25px;
    background-color: hsl(240, 80%, 5%);
    color: hsl(0, 0%, 85%);
    transition: .3s;
    cursor: pointer;
}

.side-bar__logout:hover, .side-bar__logout:focus {
    background-color: hsl(210, 68%, 47%);
    cursor: pointer;
    outline: none;
}