.ProfileSection {
    display: grid;
    margin: 0;
    max-height: 100vh;
}

.ProfileSection--Replays {
    grid-template: min-content 1fr / 1fr 530px;
    grid-template-areas:
    'header side-bar'
    'main-content side-bar';
}

.ProfileSection--Upload,
.ProfileSection--Analysis {
    grid-template: min-content 1fr / 1fr;
    grid-template-areas:
    'header'
    'main-content';
}

.ProfileSection--Overview .main-content {
    display: grid;
    grid-template: 1fr / min-content 1fr;
    grid-template-areas: 'summary analysis';
}

.ProfileSection--Login .main-content, .ProfileSection--Upload .main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    grid-area: header;
}

.main-content {
    grid-area: main-content;
    margin: 5px 0;
    margin-right: 5px;
}

.main-content--replays {
    overflow-y: auto;
    overflow-x: hidden;
}

.side-bar {
    grid-area: side-bar;
    border-left: 1px solid var(--grey);
    margin-right: 5px;
    display: grid;
    height: 100vh;
    grid-template: 1fr min-content / 1fr;
    grid-template-areas:
    'content'
    'logout';
}

.side-bar__content {
    grid-area: content;
    margin-top: 5px;
}

.side-bar__content--replays {
    overflow-y: auto;
    overflow-x: hidden;   
}

.main-content--replays::-webkit-scrollbar,
.side-bar__content--replays::-webkit-scrollbar {
    width: 8px;
    visibility: hidden;
    opacity: 1;
}

.main-content--replays::-webkit-scrollbar-button,
.main-content--replays::-webkit-scrollbar-track,
.main-content--replays::-webkit-scrollbar-track-piece,
.main-content--replays::-webkit-scrollbar-resizer,
.side-bar__content--replays::-webkit-scrollbar-button,
.side-bar__content--replays::-webkit-scrollbar-track,
.side-bar__content--replays::-webkit-scrollbar-track-piece,
.side-bar__content--replays::-webkit-scrollbar-resizer {
    display: none;
}

.main-content::-webkit-scrollbar-thumb,
.side-bar__content--replays::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 20%, 0.6);
    border-radius: 5px;
}

.side-bar__logout {
    grid-area: logout;
    width: min-content;
    justify-self: center;
    margin-bottom: 20px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding: 15px 60px;
    margin-top: 10px;
    border: 1px solid var(--grey);
    border-radius: 25px;
    background-color: var(--tertiary-background);
    color: hsl(0, 0%, 85%);
    transition: .3s;
    cursor: pointer;
}

.side-bar__logout:hover, .side-bar__logout:focus {
    background-color: hsl(210, 68%, 47%);
    cursor: pointer;
    outline: none;
}

@media (max-width: 1400px) {
    .ProfileSection {
        grid-template-areas:
        'header header'
        'main-content side-bar';
    }

    .PageHeader__page-title {
        justify-self: flex-start;
    }

    .ProfileNav {
        margin-right: 40px;
    }

    .side-bar {
        height: calc(100vh - 121px);
    }
}

@media (max-width: 1100px) {
    .PageHeader__page-title {
        justify-self: center;
    }
}
