.ProfileNav {
    grid-area: nav;
    border-radius: 25px;
    margin-right: 20px;
    transition: 0.8s;
    font-weight: 400;
}

.ProfileNav__link {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding: 15px 30px;
    border: 1px solid var(--grey);
    border-left: none;
    border-right: none;
    background-color: var(--main-background);
    color: hsl(0, 0%, 85%);
    transition: .3s;
}

.ProfileNav__link:hover, .ProfileNav__link:focus {
    background-color: var(--light-blue);
    cursor: pointer;
    outline: none;
}

.ProfileNav__link--active {
    background-color: var(--light-blue);
}

.ProfileNav__link:first-child {
    border-radius: 25px 0 0 25px;
    border-left: 1px solid var(--grey);
    padding-left: 30px;
}

.ProfileNav__link:last-child {
    border-radius: 0 25px 25px 0;
    border-right: 1px solid var(--grey);
    padding-right: 30px;
}