.StatCategory {
    #margin: 0 auto 30px;
    padding: 0 auto 30px;
}

.StatCategory--replays {
    #width: max-content;
    #width: minmax(350px, 480px);
}

.StatCategory__stats {
    background-color: var(--secondary-background);
    padding: 20px 25px;
    border-radius: 25px;
    width: min-content;
}

.StatCategory__stats--replays {
    width: 380px;
}

.StatCategory__title {
    margin: 0;
    margin-left: 25px;
    margin-bottom: 10px;
}

@media (max-width: 1400px) {
    .StatCategory__stats--replays {
        min-width: 0;
    }
}
