#tooltip {
    height: max-content;
    margin: 0 30px;
    padding: 10px;
    border-radius: 15px;
    background-color: hsla(209, 77%, 14%, 0.9);
    visibility: visible;
}

.Tooltip__content {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Tooltip__default {
    margin: 0;
}

.Tooltip__title {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.Tooltip__games {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.Tooltip__stat {
    padding: 3px 6px;
    text-align: left;
    font-size: 16px;
}

.Tooltip__value--positive {
    color: var(--green);
}

.Tooltip__value--negative {
    color: var(--red);
}

/* ----- Style overrides for stats where higher = bad ----- */

.Tooltip__value--avg_unspent_resources-positive,
.Tooltip__value--avg_pac_action_latency-positive,
.Tooltip__value--avg_pac_gap-positive,
.Tooltip__value--workers_lost-positive,
.Tooltip__value--avg_unspent_resources_minerals-positive,
.Tooltip__value--avg_unspent_resources_gas-positive,
.Tooltip__value--resources_lost_minerals-positive,
.Tooltip__value--resources_lost_gas-positive {
    color: var(--red);   
}

.Tooltip__value--avg_unspent_resources-negative,
.Tooltip__value--avg_pac_action_latency-negative,
.Tooltip__value--avg_pac_gap-negative,
.Tooltip__value--workers_lost-negative,
.Tooltip__value--avg_unspent_resources_minerals-negative,
.Tooltip__value--avg_unspent_resources_gas-negative,
.Tooltip__value--resources_lost_minerals-negative,
.Tooltip__value--resources_lost_gas-negative {
    color: var(--green);  
}
