.Upload {
    background-color: var(--secondary-background);
    width: max-content;
    margin: 80px auto 0;
    border-radius: 25px;
    padding: 40px 40px 20px;
}

.Upload__info {
    margin: 0;
}

.Upload__file-form {
    margin: 20px auto 0;
    width: 160px;
    background: var(--main-background);
    border: 1px solid var(--grey);
    border-radius: 8px;
    transition: 0.3s;
}

.Upload__file-form:hover {
    background: var(--light-blue);
}

.Upload__form-input {
    width: 100%;
}

.Upload__form-input::-webkit-file-upload-button {
    background: transparent;
    color: var(--text);
    border: none;
    padding: 15px 10px;
    width: 100%;
}

.Upload__form-input:hover,
.Upload__form-input::-webkit-file-upload-button:hover {
    cursor: pointer;
}

.Upload__authorize-message {
    margin: 10px auto;
    width: max-content;
}

.Upload__battlenet-authorize {
    background-color: transparent;
    border: none;
    color: var(--text);
    padding: 0;
    font-size: 16px;
    text-decoration: underline;
}

.Upload__battlenet-authorize:hover {
    cursor: pointer;
}

.Upload__battlenet-authorize:visited {
    color: var(--text);
}

.Upload__authorize-tooltip {
    position: relative;
    top: 7px;
    left: 5px;
}

.Upload__success, .Upload__status {
    margin: 20px auto 0;
    width: max-content;
}
