@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700&display=swap');

.AccountSetup {
    margin: 0 auto;
    padding-top: 40px;
    width: 80%;
}

.AccountSetup__heading {
    margin: 0 0 60px;
}

.AccountSetup__main-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 42px;
    margin: 0;
}

.AccountSetup__tagline {
    margin: 0;
    font-size: 18px;
    color: var(--light-grey);
}

.AccountSetup__title {
    font-size: 24px;
    margin: 0 0 10px;
    margin-right: 20px;
    display: inline;
}

.AccountSetup__title--progress {
    margin: 0 0 5px;
}

.AccountSetup__all-task-progress {
    margin: 0;
    padding: 10px;
    position: absolute;
    width: 275px;
    right: 60px;
    top: 100px;
    background-color: var(--main-background);
    border: 1px solid var(--tertiary-background-light);
    border-radius: 10px;
}

.AccountSetup__info {
    margin: 0px 0 0;
    font-size: 14px;
    color: var(--light-grey);
}

.AccountSetup__progress-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.AccountSetup__task-progress {
    font-size: 16px;
    margin-top: 15px;
    padding: 6px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: 1s;
}

.AccountSetup__task-progress--completed {
    border: 1px solid var(--success);
    border-radius: 5px;
}

.AccountSetup__completion-message {
    font-size: 14px;
    color: var(--light-grey);
    animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

.AccountSetup__task-list {
    margin: 0;
    padding: 0;
    padding-left: 30px;
    font-size: 24px;
}

.AccountSetup__task {
    margin-bottom: 60px;
}

.AccountSetup__task-header {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.AccountSetup__instructions {
    font-size: 14px;
    line-height: 1.5em;
    margin: 0;
}

.AccountSetup__task-status {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: bolder;
    transition: .3s;
    display: inline;
}

.AccountSetup__task-status * {
    padding: 6px 12px;
}

.AccountSetup__status-name {
    background-color: var(--tertiary-background);
    border-radius: 17px 0 0 17px;
}

.AccountSetup__status {
    font-size: 18px;
    font-weight: lighter;
    height: 100%;
    border-radius: 0 17px 17px 0;
}

.AccountSetup__status--failed {
    background-color: var(--error);
}

.AccountSetup__status--in-progress {
    background-color: var(--info);
}

.AccountSetup__status--completed {
    background-color: var(--success);
}

.AccountSetup__status-name {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.AccountSetup__setup-action {
    margin: 20px 0 0;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--light-blue);
    font-size: 16px;
    transition: .3s;
}

.AccountSetup__profile-input {
    background-color: var(--text);
    border: none;
    border-radius: 5px;
    padding: 6px 8px;
    margin-top: 10px;
    margin-right: 5px;
}

.AccountSetup__profile-input:focus {
    outline: none;
}

.AccountSetup__save-profile {
    font-size: 14px;
    font-weight: bolder;
    margin-top: 10px;
    padding: 6px 8px;
    color: black;
}

.AccountSetup__setup-action:hover,
.AccountSetup__setup-action:focus {
    outline: none;
    background-color: var(--light-blue-hover);
    cursor: pointer;
}

.AccountSetup__link,
.AccountSetup__link:visited {
    color: var(--text);
}

.AccountSetup__email {
    text-decoration: underline;
}


.AccountSetup__verify-email {

}

.AccountSetup__link-battlenet {

}

.AccountSetup__add-profiles {

}

.AccountSetup__authorize-message {
    margin: 10px auto;
    width: max-content;
}

.AccountSetup__battlenet-authorize {
    background-color: transparent;
    border: none;
    color: var(--text);
    padding: 0;
    font-size: 16px;
    text-decoration: underline;
}

.AccountSetup__battlenet-authorize:hover {
    cursor: pointer;
}

.AccountSetup__battlenet-authorize:visited {
    color: var(--text);
}

.AccountSetup__authorize-tooltip {
    position: relative;
    top: 7px;
    left: 5px;
}

.AccountSetup__email-verification {
    color: var(--text);
    font-size: 16px;
}
