.Login {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.login-image {
    position: relative;
    bottom: 450px;
    left: 350px;
    z-index: 10;
    height: 500px;
}

.login-form {
    background-color: var(--secondary-dark-2);
    height: 120px;
    width: 100%;
    margin: 300px 0 0;
    margin-left: calc(-580px + (100vw*.5));
    padding: 20px 60px 20px 20px;
    border-radius: 15px 0 0 15px;
    border: 1px solid var(--primary-light-2);
}

.login-form__title {
    position: absolute;
    top: 255px;
    margin-left: -10px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 400;
}

.login-form__label {
    width: 100%;
    display: block;
    margin-bottom: 3px;
    font-size: 14px;
}

.login-form__error {
    position: absolute;
    margin: 10px 68px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: red;
}

.login-form__email, .login-form__password {
    margin-top: 0;
    margin-bottom: 20px;
}

.login-form__input {
    border: none;
    border-radius: 5px;
    width: 240px;
    height: 20px;
    background-color: var(--text);
    padding: 5px;
}

.login-form__flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.login-form__submit {
    margin-top: 20px;
    padding: 10px 100px;
    background-color: var(--primary-blue);
    color: black;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    transition: 0.3s;
}

.login-form__submit:hover, .login-form__submit:focus {
    outline: none;
    background-color: var(--primary-blue-hover);
    cursor: pointer;
}

.login-form__submit:disabled {
    cursor: not-allowed;
}

@media (max-width: 1400px) {
    .Login .PageTemplate__main-content {
        justify-content: flex-start;
    }

    .login-flex-wrapper {
        width: 100%;
    }

    .login-form {
        width: 100%;
        border-radius: 0;
        margin: 150px auto 0;
        padding-left: 0;
        padding-right: 0;
        background-color: transparent;
        border: none;
    }

    .login-form__title {
        width: 100%;
        margin: 0;
        top: 150px;
        text-align: center;
    }

    .login-form__form {
        width: max-content;
        margin: 0 auto;
        padding: 20px;
        border-radius: 15px;
        border: 1px solid var(--primary-light-2);
        background-color: var(--secondary-dark-2);
    }

    .login-form__error {
        margin-top: 30px;
    }

    .login-image {
        visibility: hidden;
    }
}
