.Upload {
    background-color: var(--secondary-background);
    width: max-content;
    height: 160px;
    margin: 80px auto 0;
    border-radius: 25px;
    padding: 40px 40px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Upload__message {
    position: absolute;
    top: 390px;
    margin-left: -30px;
    text-align: center;
    font-size: 14px;
}

.Upload__message a,
.Upload__message a:visited {
    color: var(--text);
}

.Upload__issues a,
.Upload__issues a:visited {
    color: white;
}

.Upload__info {
    margin: 0;
}

.Upload__file-form {
    margin: 20px auto 0;
    width: 160px;
    background: var(--light-blue);
    border: none;
    border-radius: 8px;
    transition: 0.3s;
}

.Upload__file-form:hover, .Upload__file-form:focus {
    outline: none;
    background: var(--light-blue-hover);
}

.Upload__form-input {
    border: none;
    border-radius: 8px;
    transition: 0.3s;
    width: 100%;
}

.Upload__form-input::-webkit-file-upload-button {
    background: transparent;
    color: black;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
    padding: 15px 10px;
    width: 100%;
    font-size: 18px;
}

.Upload__form-input:hover,
.Upload__form-input:focus,
.Upload__form-input::-webkit-file-upload-button:hover,
.Upload__form-input::-webkit-file-upload-button:focus {
    outline: none;
    background: var(--light-blue-hover);
    cursor: pointer;
}

.Upload__authorize-message {
    margin: 10px auto;
    width: max-content;
}

.Upload__battlenet-authorize {
    background-color: transparent;
    border: none;
    color: var(--text);
    padding: 0;
    font-size: 16px;
    text-decoration: underline;
}

.Upload__battlenet-authorize:hover {
    cursor: pointer;
}

.Upload__battlenet-authorize:visited {
    color: var(--text);
}

.Upload__authorize-tooltip {
    position: relative;
    top: 7px;
    left: 5px;
}

.Upload__success, .Upload__status {
    margin: 30px auto 0;
    width: max-content;
}
