.Winrate {
    margin: 20px 4%;
}

.Winrate__title {
    display: inline-block;
    font-size: 32px;
    margin: 0 0 10px;
    margin-left: 10px;
}

.Winrate__title--secondary {
    font-size: 24px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.Winrate__winrate-data {
    display: grid;
    grid-template: max-content max-content max-content / 1fr 1fr;
    grid-template-areas:
    'total-winrate total-winrate'
    'matchup-winrate map-winrate'
    'order-by order-by';
    grid-gap: 20px 30px;
}

.Winrate__data-container {
}

.Winrate__data-container--matchup {
    grid-area: matchup-winrate;
}

.Winrate__data-container--map {
    grid-area: map-winrate;
}

.Winrate__data-container--matchup,
.Winrate__data-container--map {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--secondary-dark-2);
    border-radius: 25px;
    padding: 20px 25px;
}

.Winrate__data-container--order-by {
    grid-area: order-by;
    width: 80%;
    margin: 20px auto 0;
}

.Winrate__header {
    display: flex;
    justify-content: space-between;
}

.Winrate__order-groups {
    background-color: var(--secondary-dark-2);
    border-radius: 25px;
    padding: 20px 25px;
}

.Winrate__controls {
    display: inline-flex;
    position: relative;
    height: 30px;
    width: max-content;
    padding: 0;
    margin-right: 20px;
    font-size: 18px;
    background-color: var(--primary-dark-1);
    box-shadow: 0 0 0 2px var(--primary-light-3) inset;
    border-radius: 20px;
}

.Winrate__controls::before {
    content: '';
    top: 0px;
    height: 30px;
    width: 105px;
    position: absolute;
    background: var(--primary-light-2);
    border-radius: 15px;
    transition: .3s;
}

.Winrate__controls--map::before {
    transform: translateX(105px);
}

.Winrate__control-option {
    display: inline-block;
    z-index: 1;
    padding: 0;
    margin: 0 10px;
    width: 85px;
    border: none;
    background-color: transparent;
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.Winrate__control-option:hover,
.Winrate__control-option:focus {
    cursor: pointer;
    outline: none;
}

.Winrate__group-container {
    margin: 0 0 25px;
}

.Winrate__group-container:last-child {
    margin: 0;
}

.Winrate__values-container {
    display: grid;
    grid-template: 1fr / max-content max-content 1fr;
    grid-template-areas: 'matchup value value-bar';
    align-items: center;
    margin-bottom: 10px;
}

.Winrate__values-container--total {
    grid-area: total-winrate;
    margin: 0;
    background-color: var(--secondary-dark-2);
    border-radius: 15px;
    padding: 10px 20px;
}

.Winrate__values-container--matchup {
    #grid-template: 40px / max-content max-content 1fr;
    margin-bottom: 15px;
}

.Winrate__values-container:last-child {
    margin: 0;
}

.Winrate__values-container--order-by {
    margin: 0px;
}

.Winrate__values-container--order-by:first-child {
    margin-bottom: 0px;
}

.Winrate__values-name {
    grid-area: matchup;
    display: inline-block;
    margin: 0;
    width: 115px;
    font-size: 16px;
    font-weight: 400;
}

.Winrate__values-name--total {
    width: max-content;
    font-size: 24px;
}

.Winrate__values-name--title {
    font-size: 18px;
    text-decoration: underline;
}

.Winrate__values-container--order-by .Winrate__values-name {
    width: 130px;
}

.Winrate__values-name--matchup {
    width: 78px;
}

.Winrate__values-name--map {
    width: 115px;
}

.Winrate__values {
    grid-area: value;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    margin: 0 15px;
    width: 100px;
    font-size: 16px;
    font-weight: 400;
}

.Winrate__values--total {
    width: 115px;
    font-size: 18px;
    margin: 5px 15px 0;
}

.Winrate__value-bar-wrapper {
    grid-area: value-bar;
    display: inline;
}

.Winrate__value-bar-wrapper--all {
    filter: drop-shadow(0 0 4px var(--primary-blue));
}

.Winrate__value-bar-wrapper--protoss {
    filter: drop-shadow(0 0 4px hsl(50, 80%, 45%));
}

.Winrate__value-bar-wrapper--zerg {
    filter: drop-shadow(0 0 4px hsl(270, 80%, 35%));
}

.Winrate__value-bar-wrapper--terran {
    filter: drop-shadow(0 0 4px hsl(15, 90%, 40%));
}
