.StatCorrelations {
    margin: 0 60px;
}

.StatCorrelations__title {
    font-size: 28px;
    margin: 10px 0;
    margin-left: 15px;
}

.StatCorrelations__stat-correlations {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-dark-2);
    border-radius: 15px;
    padding: 20px 25px;
}

.StatCorrelations__correlation {
    display: grid;
    grid-template: repeat(2, min-content) / max-content max-content;
    grid-template-areas:
    'stat-title correlation-value'
    'correlation-direction correlation-direction';
    grid-gap: 10px;
    width: max-content;
    margin: 0;
}

.StatCorrelations__stat-name {
    grid-area: stat-title;
    font-size: 24px;
    align-self: center;
}

.StatCorrelations__correlation-direction {
    grid-area: correlation-direction;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.StatCorrelations__correlation-value {
    grid-area: correlation-value;
    font-size: 28px;
    border-radius: 10px;
}

.StatCorrelations__correlation-direction--positive {
    color: var(--green);
}

.StatCorrelations__correlation-direction--negative {
    color: var(--red);
}

.StatCorrelations__correlation-value--positive {
    background-color: var(--green-highlight);
    padding: 2px 8px;
}

.StatCorrelations__correlation-value--negative {
    background-color: var(--red-highlight);
    padding: 2px 8px;
}
