.Trends {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.Trends__title {
    display: inline-block;
    font-size: 32px;
    margin: 10px 40px 25px 20px;
}

.Trends__title-stat {
    font-size: 28px;
}

.Trends__title-value {
    height: 25px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    min-width: 20px;
    padding: 4px 8px;
    margin: 0 8px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--primary-light-2);
}

.Trends__title-text {
    font-size: 18px;
}

.Trends__season {
    margin: 20px 40px 40px;
}

.Trends__season-stats {
    display: grid;
    grid-template: max-content max-content max-content / repeat(6, 1fr);
    grid-template-areas:
    'trends-mmr trends-mmr trends-apm trends-apm trends-spm trends-spm'
    'trends-sq trends-sq trends-supply_block trends-supply_block trends-workers_produced trends-workers_produced'
    'trends-filler1 trends-workers_killed trends-workers_killed trends-workers_lost trends-workers_lost trends-filler2';
    grid-gap: 30px;
}

.Trends__season-stat-wrapper {
    display: inline-block;
    height: max-content;
    padding: 20px;
    background-color: var(--secondary-dark-2);
    border-radius: 25px;
}

.Trends__season-stat-wrapper--mmr {
    grid-area: trends-mmr;
}

.Trends__season-stat-wrapper--apm {
    grid-area: trends-apm;
}

.Trends__season-stat-wrapper--spm {
    grid-area: trends-spm;
}

.Trends__season-stat-wrapper--sq {
    grid-area: trends-sq;
}

.Trends__season-stat-wrapper--supply_block {
    grid-area: trends-supply_block;
}

.Trends__season-stat-wrapper--workers_produced {
    grid-area: trends-workers_produced;
}

.Trends__season-stat-wrapper--workers_killed {
    grid-area: trends-workers_killed;
}

.Trends__season-stat-wrapper--workers_lost {
    grid-area: trends-workers_lost;
}

.Trends__season-stat {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.Trends__season-stat-name {
    font-size: 24px;
    display: inline-block;
    margin: 0;
    margin-right: 10px;
}

.Trends__season-stat-value {
    display: inline-block;
    margin: 0 0 -2px;
}

@media(max-width: 1200px) {
    .Trends__title {
        font-size: 28px;
    }

    .Trends__title-text {
        font-size: 16px;
    }

    .Trends__title-value {
        font-size: 24px;
    }
}
