.TrendsTooltip {
    border: 1px solid var(--primary-light-3);
}

.TrendsTooltip__timeline-stat {
    margin: 0;
}

.TrendsTooltip__stat-header {
    display: inline-flex;
    align-items: center;
}

.TrendsTooltip__stat-header * {
    display: inline-block;
    font-size: 18px;
    margin: 0 0 20px;
}

.TrendsTooltip__time {
    font-size: 24px;
    margin-right: 20px;
}

.TrendsTooltip__stat-name {
    font-size: 24px;
    margin-right: 30px;
}

.TrendsTooltip__match-count {
}

.TrendsTooltip__matchup {
    margin-right: 20px;
}

.TrendsTooltip__stat-stage {
    margin-right: 20px;
}

.TrendsTooltip__stat-values {
    margin: 0;
}

.TrendsTooltip__stat-values--win {
    margin-bottom: 20px;
}

.TrendsTooltip__stat-type {
    text-decoration: underline;
    font-size: 18px;
    margin: 0 0 10px;
}

.TrendsTooltip__stat-median {
    margin: 0 0 10px;
}

.TrendsTooltip__stat-quartiles {
    margin: 0 0 10px;
}

.TrendsTooltip__stat-min-max {
    margin: 0;
}
