.Trends {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.timeline {
    margin: 20px 60px 0;
    display: grid;
    grid-template: min-content 1fr / 1fr 1fr;
    grid-template-areas:
    'timeline-title timeline-dropdown'
    'timeline-chart timeline-chart';
}

.timeline__title {
    grid-area: timeline-title;
    justify-self: flex-start;
    width: max-content;
    height: max-content;
    margin: 0 0 10px;
    font-size: 28px;
}

.timeline__stat-picker {
    grid-area: timeline-dropdown;
    width: max-content;
    height: max-content;
    align-self: flex-end;
    margin: 0;
    margin-right: 40px;
    justify-self: flex-end;
}

.timeline__stat-picker-title {
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    color: hsl(0, 0%, 85%);
    font-size: 16px;
}

.timeline__stat-picker-title:hover,
.timeline__stat-dropdown-button:hover {
    cursor: pointer;
}

.timeline__stat-picker-title:focus,
.timeline__stat-dropdown-button:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--tertiary-background-light);
}

.timeline__stat-dropdown {
    position: absolute;
    opacity: 1;
    max-height: 0;
    list-style: none;
    margin: 0;
    margin-top: 5px;
    padding: 5px;
    transition: max-height 0.5s;
    overflow: hidden;
    background-color: var(--tertiary-background);
    border-radius: 5px;
}

.timeline__stat-dropdown--open {
    transition: max-height 0.5s, opacity 0.2s 0.4s, z-index 0.2s 0.4s;
}

.timeline__stat-dropdown-option {
    width: max-content;
}

.timeline__stat-dropdown-button {
    background-color: transparent;
    border: none;
    border-radius: 15px;
    width: max-content;
    color: hsl(0, 0%, 85%);
}

.timeline__stat-dropdown-indicator {
    transition: 0.3s;
}

.chart-area {
    grid-area: timeline-chart;
    padding: 10px 0;
}

.recent-trends {
    width: max-content;
    margin: 30px auto 0;
    padding-bottom: 1px;
}

.recent-trends__one-week {
    grid-area: timeline-chart;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
}

.recent-trends__title-area {
    grid-area: trends-title;
}

.recent-trends__title {
    margin: 0 0 5px;
    width: max-content;
    font-size: 28px;
}

.recent-trends__winrate {
    width: max-content;
    margin: 0 0 20px;
    font-size: 20px;
}

.recent-trends__content {
    display: grid;
    grid-template: min-content repeat(1, max-content) / repeat(4, max-content);
    grid-template-areas:
    'trends-title trends-title trends-title trends-title'
    'general economic PAC efficiency';
    grid-gap: 0px 30px;
}

@media (max-width: 1525px) {
    .recent-trends__content {
        grid-template: min-content repeat(2, max-content) / repeat(2, max-content);
        grid-template-areas:
        'trends-title trends-title'
        'general economic'
        'PAC efficiency';
        grid-gap: 40px;
    }
}
