.StatCategory {
    width: max-content;
}

.StatCategory__info {
    display: flex;
    justify-content: space-between;
}

.StatCategory__title {
    margin: 0 0 5px 20px;
    width: max-content;
    font-size: 24px;
}

.StatCategory__players {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    align-items: flex-end;
    margin-bottom: 8px;
}

.StatCategory__player {
    display: flex;
    justify-content: center;
    margin-left: -10px;
}

.StatCategory__player-icon {
    height: 20px;
    margin-right: 5px;
}

.StatCategory__player-name {
    margin: 3px 0 0;
    font-size: 14px;
}

.StatCategory__stats {
    border-radius: 25px;
    width: 500px;
    margin: 0;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: var(--secondary-dark-3);
}
