@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Major+Mono+Display&display=swap');

:root {
    --text: hsl(0, 0%, 85%);
    --grey: hsl(0, 0%, 47%);
    --light-grey: hsl(0, 0%, 70%);
    --purple: hsl(270, 80%, 30%);
    --green: hsl(120, 100%, 40%);
    --red: hsl(0, 100%, 30%);
    --green-highlight: hsla(120, 80%, 25%, 0.6);
    --red-highlight: hsla(0, 70%, 25%, 0.6);

    --primary-blue: hsl(210, 68%, 47%);
    --primary-blue-hover: hsl(210, 85%, 60%);
    --primary-dark-1: hsl(240, 80%, 5%);
    --primary-dark-2: hsl(235, 70%, 7%);
    --primary-light-1: hsl(209, 77%, 14%);
    --primary-light-2: hsl(209, 77%, 20%);
    --secondary-dark-1: hsl(225, 70%, 8%);
    --secondary-dark-2: hsl(225, 70%, 10%);

    --error: hsl(0, 100%, 30%);
    --info: hsl(210, 75%, 35%);
    --success: hsl(120, 80%, 20%);

    --line-shade-1: hsl(208, 77%, 10%);
    --line-shade-2: hsl(208, 80%, 25%);
    --line-shade-3: hsl(208, 83%, 40%);
    --line-shade-4: hsl(208, 86%, 55%);
    --line-shade-5: hsl(208, 89%, 70%);
    --line-shade-6: hsl(180, 25%, 15%);
    --line-shade-7: hsl(180, 25%, 30%);
    --line-shade-8: hsl(180, 25%, 45%);
    --line-shade-9: hsl(180, 25%, 60%);
}

html, #root, .ProfileApp {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: var(--primary-dark-1);
    color: hsl(0, 0%, 85%);
    margin: 0;
    overflow-x: hidden;
}

.nav {
    width: max-content;
    margin: 0 auto;
    padding-top: 25px;
    border-radius: 25px;
    transition: 0.8s;
    position: relative;
}

a, a:visited {
    color: var(--text);
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
}

::-webkit-scrollbar {
    width: 8px;
    visibility: hidden;
    opacity: 1;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-resizer {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 20%, 0.6);
    border-radius: 5px;
}

.main-content::-webkit-scrollbar,
.content-sidebar__content::-webkit-scrollbar {
    width: 8px;
    visibility: hidden;
    opacity: 1;
}

.main-content::-webkit-scrollbar-button,
.main-content::-webkit-scrollbar-track,
.main-content::-webkit-scrollbar-track-piece,
.main-content::-webkit-scrollbar-resizer,
.content-sidebar__content::-webkit-scrollbar-button,
.content-sidebar__content::-webkit-scrollbar-track,
.content-sidebar__content::-webkit-scrollbar-track-piece,
.content-sidebar__content::-webkit-scrollbar-resizer {
    display: none;
}

.main-content::-webkit-scrollbar-thumb,
.content-sidebar__content::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 20%, 0.6);
    border-radius: 5px;
}
