@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Raleway:300|Major+Mono+Display&display=swap');

:root {
    --text: hsl(0, 0%, 85%);
    --grey: hsl(0, 0%, 47%);
    --light-blue: hsl(210, 68%, 47%);
    --green: hsl(120, 100%, 40%);
    --red: hsl(0, 100%, 40%);
    --green-highlight: hsla(120, 80%, 25%, 0.6);
    --red-highlight: hsla(0, 70%, 25%, 0.6);
    --header-background: hsl(240, 80%, 3%);
    --main-background: hsl(240, 80%, 5%);
    --secondary-background: hsl(225, 70%, 9%);
    --tertiary-background: hsl(209, 77%, 14%);
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: var(--main-background);
    color: hsl(0, 0%, 85%);
    margin: 0;
}

.nav {
    width: max-content;
    margin: 0 auto;
    padding-top: 25px;
    border-radius: 25px;
    transition: 0.8s;
    position: relative;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
}