@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Major+Mono+Display&display=swap');

:root {
    --text: hsl(0, 0%, 85%);
    --grey: hsl(0, 0%, 47%);
    --light-grey: hsl(0, 0%, 70%);
    --light-blue: hsl(210, 68%, 47%);
    --light-blue-hover: hsl(210, 85%, 60%);
    --purple: hsl(270, 80%, 30%);
    --green: hsl(120, 100%, 40%);
    --red: hsl(0, 100%, 30%);
    --green-highlight: hsla(120, 80%, 25%, 0.6);
    --red-highlight: hsla(0, 70%, 25%, 0.6);
    --header-background: hsl(240, 80%, 3%);
    --main-background: hsl(240, 80%, 5%);
    --secondary-background: hsl(225, 70%, 10%);
    --secondary-background-dark: hsl(225, 70%, 8%);
    --tertiary-background: hsl(209, 77%, 14%);
    --tertiary-background-light: hsl(209, 77%, 20%);

    --error: hsl(0, 100%, 30%);
    --info: hsl(210, 75%, 35%);
    --success: hsl(120, 80%, 20%);
}

html, #root, .ProfileApp {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: var(--main-background);
    color: hsl(0, 0%, 85%);
    margin: 0;
    overflow-x: hidden;
}

.nav {
    width: max-content;
    margin: 0 auto;
    padding-top: 25px;
    border-radius: 25px;
    transition: 0.8s;
    position: relative;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
}

::-webkit-scrollbar {
    width: 8px;
    visibility: hidden;
    opacity: 1;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-resizer {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 20%, 0.6);
    border-radius: 5px;
}

.main-content::-webkit-scrollbar,
.content-sidebar__content::-webkit-scrollbar {
    width: 8px;
    visibility: hidden;
    opacity: 1;
}

.main-content::-webkit-scrollbar-button,
.main-content::-webkit-scrollbar-track,
.main-content::-webkit-scrollbar-track-piece,
.main-content::-webkit-scrollbar-resizer,
.content-sidebar__content::-webkit-scrollbar-button,
.content-sidebar__content::-webkit-scrollbar-track,
.content-sidebar__content::-webkit-scrollbar-track-piece,
.content-sidebar__content::-webkit-scrollbar-resizer {
    display: none;
}

.main-content::-webkit-scrollbar-thumb,
.content-sidebar__content::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 20%, 0.6);
    border-radius: 5px;
}
