<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
  <head>
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://anaconda.zephyrus.gg/script.js" spa="auto" site="ONCIACIN" defer></script>
    <!-- / Fathom -->
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="<%= htmlWebpackPlugin.options.appMountId %>"></div>
  </body>
</html>