.RaceState {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    grid-template-areas: 'race-stats-player1 race-stats-central race-stats-player2';
    border-bottom: 1px solid var(--primary-light-2);
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    padding-bottom: 10px;
    height: 95px;
}

.RaceState__resource-metrics {
    grid-area: race-stats-central;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.RaceState__resource-chart-title {
    margin: 0;
    margin-bottom: -3px;
    font-size: 14px;
    text-align: center;
}

.RaceState__player {
    display: flex;
}

.RaceState__player--player1 {
    grid-area: race-stats-player1;
    flex-direction: row;
    justify-content: space-evenly;
}

.RaceState__player--player1 .RaceState__energy-usage {
    order: 1;
}

.RaceState__player--player1 .RaceState__energy {
    order: 2;
}

.RaceState__player--player2 .RaceState__energy-usage {
    order: 2;
}

.RaceState__player--player2 .RaceState__energy {
    order: 1;
}

.RaceState__player--player2 {
    grid-area: race-stats-player2;
    flex-direction: row;
    justify-content: space-evenly;
}

.RaceState__energy .recharts-wrapper .recharts-surface,
.RaceState__inject-efficiency-wrapper .recharts-wrapper .recharts-surface {
    filter: drop-shadow(0 0 2px hsl(270, 100%, 45%));
}

.RaceState__energy-table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 5px auto 0;
    font-size: 12px;
}

.RaceState__energy-metric-value {
    padding: 0;
    width: 35px;
    text-align: center;
}

.RaceState__energy-metric:last-child {
    color: var(--grey);
}

.RaceState__inject-efficiency {
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: collapse;
}

.RaceState__efficiency-metric:last-child {
    color: var(--grey);
}

.RaceState__inject-efficiency-value {
    width: 35px;
    text-align: center;
}

.RaceState__energy-usage {
    width: 300px;
    height: 86px;
    margin: auto 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.RaceState__usage-values {
    margin-bottom: 10px;
    margin-right: 10px;
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.RaceState__usage-values:nth-child(3),
.RaceState__usage-values:nth-child(6),
.RaceState__usage-values:nth-child(9),
.RaceState__usage-values:nth-child(12) {
    margin-bottom: 0;
}

.RaceState__usage-count {
    height: 20px;
    width: 20px;
    border: 1px solid var(--primary-light-3);
    border-radius: 5px;
    background-color: var(--primary-light-1);
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.RaceState__player--player1 .RaceState__creep {
    order: 1;
}

.RaceState__player--player1 .RaceState__inject-efficiency-wrapper {
    order: 2;
}

.RaceState__player--player2 .RaceState__creep {
    order: 2;
}

.RaceState__player--player2 .RaceState__inject-efficiency-wrapper {
    order: 1;
}

.RaceState__creep {
    margin: auto 0;
    padding: 0;
    list-style: none;
    height: max-content;
}

.RaceState__creep-stat {
    text-decoration: none;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.RaceState__zerg-count {
    height: 20px;
    width: max-content;
    min-width: 10px;
    padding: 0 5px;
    margin-left: 10px;
    border: 1px solid var(--primary-light-3);
    border-radius: 5px;
    background-color: var(--primary-light-1);
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.RaceStateTooltip {
    height: max-content;
    z-index: 9999;
    margin: 0 30px;
    padding: 10px;
    border-radius: 15px;
    background-color: hsla(209, 77%, 14%, 1);
}

.RaceStateTooltip .tooltip__player-indicator {
    margin: 0;
}

.RaceStateTooltip .tooltip__stat-name {
    padding-right: 10px;
}

.RaceStateTooltip .tooltip__stat-values {
    text-align: center;
}
