.RaceState {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'race-stats-player1 race-stats-central race-stats-player2';
    border-bottom: 1px solid var(--primary-light-2);
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    padding-bottom: 10px;
    height: 95px;
}

.RaceState__resource-metrics {
    grid-area: race-stats-central;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.RaceState__resource-chart-title {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.RaceState__player {
    display: flex;
}

.RaceState__player--player1 {
    grid-area: race-stats-player1;
    flex-direction: row;
    justify-content: flex-start;
}

.RaceState__player--player2 {
    grid-area: race-stats-player2;
    flex-direction: row;
    justify-content: flex-end;
}

.RaceState__energy-table {
    table-layout:fixed;
    border-collapse: collapse;
    margin-top: 5px;
    font-size: 12px;
}

.RaceState__energy-metric-value {
    padding: 0;
    width: 35px;
    text-align: center;
}

.RaceState__energy-metric-value:first-child {
    width: 70px;
    text-align: left;
}
