.ReplayView {
    margin: 0;
    overflow:hidden;
    grid-area: replay-view;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ReplayView__default {
    width: max-content;
    margin: 20px auto;
}

.ReplayView__page {
    padding: 15px;
    padding-left: 25px;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
}
