@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

.ReplayInfo {
    position: relative;
    display: grid;
    grid-template: max-content min-content / 80px 300px 1fr;
    grid-template-areas:
    'replay-result replay-match-info replay-players'
    'download share-replay replay-date';
    grid-gap: 15px 20px;
    margin: 0 0 30px;
    padding: 15px 20px;
    border-radius: 15px;
    background-color: var(--secondary-dark-3);
}

.ReplayInfo__replay-download {
    grid-area: download;
    padding: 6px 12px;
    border: 1px solid var(--primary-light-3);
    background-color: var(--secondary-dark-2);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
    border-radius: 4px;
    width: max-content;
    height: min-content;
    transition: .3s;
}

.ReplayInfo__replay-download:visited {
    color: var(--text);
}

.ReplayInfo__share-replay {
    grid-area: share-replay;
    width: 362px;
    position: relative;
    align-self: center;
    background-color: var(--secondary-dark-2);
    border-radius: 15px;
    border: 1px solid var(--primary-light-3);
    height: min-content;
    left: 100px;
}

.ReplayInfo__share-replay * {
    color: var(--text);
    font-size: 12px;
    font-family: 'IBM Plex Mono', monospace;
}

.ReplayInfo__replay-label {
    padding: 4px 8px;
    padding-right: 5px;
}

.ReplayInfo__replay-url {
    width: 300px;
    text-align: center;
    background-color: transparent;
    border: none;
    border-left: 1px solid var(--primary-light-3);
    padding: 4px 8px;
    padding-left: 2px;
}

.ReplayInfo__replay-url:focus {
    outline: none;
}

.ReplayInfo__result {
    grid-area: replay-result;
    background-color: var(--primary-light-3);
    border-radius: 4px;
    padding: 4px 12px;
    width: 56px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.ReplayInfo__result--win {
    background-color: var(--green-highlight);
}

.ReplayInfo__result--loss {
    background-color: var(--red-highlight);
}

.ReplayInfo__matchup-race-icon:nth-of-type(2) {
    margin-left: 8px;
}

.ReplayInfo__match-info {
    grid-area: replay-match-info;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    justify-self: flex-start;
    font-size: 24px;
}

.ReplayInfo__match-info * {
    height: max-content;
}

.ReplayInfo__map {
    margin: 0 20px;
}

.ReplayInfo__date {
    grid-area: replay-date;
    font-size: 18px;
    align-self: center;
    justify-self: flex-end;
    color: var(--grey);
}

.ReplayInfo__players {
    grid-area: replay-players;
    display: flex;
    align-self: center;
    justify-self: flex-end;
    font-size: 24px;
}

.ReplayInfo__player {
    display: flex;
}

.ReplayInfo__player:first-child {
    margin-right: 40px;
}

.ReplayInfo__player-race-icon {
    height: 35px;
    margin-top: -2px;
    margin-right: 5px;
}

.ReplayInfo__match-info-field--name {
    margin-right: 8px;
    align-self: center;
}

.ReplayInfo__match-info-field--mmr {
    align-self: center;
    font-size: 18px;
    margin-top: 2px;
}

.ReplayInfo__player-info {
    display: inline-block;
    padding: 4px 0;
    border-radius: 15px;
}

.ReplayInfo__player-info--user {
    box-shadow: 0 0 10px 1px var(--primary-light-3);
    border: 2px solid var(--primary-light-3);
}

.ReplayInfo__player-name {
    margin: 0 0 10px;
    font-size: 16px;
    display: inline;
    padding: 4px 8px;
    background-color: var(--primary-light-1);
    border-radius: 0 15px 15px 0;
}

/* only apply if the replays panel is active */
@media (max-width: 1600px) {
    .ReplayView--replays .ReplayInfo {
        position: relative;
        display: grid;
        grid-template: max-content min-content / 70px 235px 1fr;
        grid-template-areas:
        'replay-result replay-match-info replay-players'
        'download share-replay replay-date';
        grid-gap: 15px;
    }

    .ReplayView--replays .ReplayInfo__result {
        border-radius: 4px;
        padding: 4px 12px;
        width: 46px;
        font-size: 18px;
    }

    .ReplayView--replays .ReplayInfo__match-info {
        font-size: 16px;
    }

    .ReplayView--replays .ReplayInfo__map {
        margin: 0 10px;
    }

    .ReplayView--replays .ReplayInfo__date {
        font-size: 14px;
    }

    .ReplayView--replays .ReplayInfo__players {
        font-size: 16px;
    }

    .ReplayView--replays .ReplayInfo__player:first-child {
        margin-right: 15px;
    }

    .ReplayView--replays .ReplayInfo__match-info-field--mmr {
        font-size: 14px;
    }

    .ReplayView--replays .ReplayInfo__player-race-icon {
        height: 25px;
        margin-top: -2px;
        margin-right: 2px;
    }

    .ReplayView--replays .ReplayInfo__replay-download {
        padding: 6px 8px;
        font-size: 16px;
        border-radius: 4px;
    }

    .ReplayView--replays .ReplayInfo__share-replay {
        left: 90px;
    }
}
