.ReplayRecord {
    display: grid;
    grid-template: 1fr / repeat(6, 1fr);
    grid-template-areas:
    'matchup game-length result date player1 player2';
    align-items: center;
    justify-items: center;
    height: min-content;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ReplayRecord:focus {
    outline: none;
}

.ReplayRecord--win {
    background-color: hsla(120, 100%, 40%, 0.3);
}

.ReplayRecord--loss {
    background-color: hsla(0, 100%, 40%, 0.3);
}

.ReplayRecord--win:hover, .ReplayRecord--win:focus {
    background-color: hsla(120, 100%, 50%, 0.5);
}

.ReplayRecord--loss:hover, .ReplayRecord--loss:focus {
    background-color: hsla(0, 100%, 50%, 0.5);
}

.ReplayRecord--win-selected {
    background-color: hsla(120, 100%, 50%, 0.5);
    box-shadow: 0 0 0 2px var(--light-blue) inset;
}

.ReplayRecord--loss-selected {
    background-color: hsla(0, 100%, 50%, 0.5);
    box-shadow: 0 0 0 2px var(--light-blue) inset;
}

.ReplayRecord * {
    height: min-content;
}

.ReplayRecord__matchup {
    grid-area: matchup;
}

.ReplayRecord__game-length {
    grid-area: game-length;
}

.ReplayRecord__result {
    grid-area: result;
}

.ReplayRecord__date {
    grid-area: date;
}

.ReplayRecord__players {
    grid-area: players;
}