@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

.ReplayInfo__title-area {
    position:relative;
    display: grid;
    grid-template: max-content max-content min-content / repeat(3, max-content) 1fr;
    grid-template-areas:
    'matchup map result players'
    'date date share-replay share-replay'
    'download download download stat-selection';
    grid-gap: 0 20px;
    margin: 10px 25px 10px 60px;
}

.ReplayInfo__replay-download {
    grid-area: download;
    padding: 8px 12px;
    border: 1px solid var(--primary-light-3);
    background-color: var(--secondary-dark-2);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
    border-radius: 8px;
    width: max-content;
    height: min-content;
    transition: .3s;
    margin-top: -8px;
}

.ReplayInfo__replay-download:visited {
    color: var(--text);
}

.ReplayInfo__share-replay {
    grid-area: share-replay;
    justify-self: flex-end;
    background-color: var(--secondary-dark-2);
    border-radius: 15px;
    border: 1px solid var(--primary-light-3);
    margin-top: 15px;
}

.ReplayInfo__share-replay * {
    color: var(--text);
    font-size: 12px;
    font-family: 'IBM Plex Mono', monospace;
}

.ReplayInfo__replay-label {
    padding: 4px 8px;
    padding-right: 5px;
}

.ReplayInfo__replay-url {
    width: 300px;
    text-align: center;
    background-color: transparent;
    border: none;
    border-left: 1px solid var(--primary-light-3);
    padding: 4px 8px;
    padding-left: 2px;
}

.ReplayInfo__replay-url:focus {
    outline: none;
}

.ReplayInfo__stat-select {
    position: relative;
    grid-area: stat-selection;
    justify-self: flex-end;
    margin-right: 20px;
    margin-top: 15px;
}

.ReplayInfo__stat-toggle {
    background: none;
    border-radius: 15px;
    border: none;
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    width: 235px;
}

.ReplayInfo__stat-toggle:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--primary-light-3) inset;
}

.ReplayInfo__stat-toggle:hover {
    cursor: pointer;
}

.ReplayInfo__selection-arrow {
    transform: rotate(90deg);
    height: 20px;
    position: relative;
    top: 4px;
    left: 8px;
}

.ReplayInfo__stat-dropdown {
    position: absolute;
    list-style: none;
    max-height: 0;
    width: 200px;
    padding: 5px;
    padding-bottom: 0;
    background-color: var(--primary-light-1);
    overflow: hidden;
    border-radius: 5px;
    transition: max-height 0.5s, opacity 0.2s 0.4s, z-index 0.2s 0.4s;
}

.ReplayInfo__stat-dropdown--open {
    transition: max-height 0.5s;
}

.ReplayInfo__dropdown-option {
    padding-bottom: 5px;
}

.ReplayInfo__dropdown-button {
    background: none;
    border: none;
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 15px;
}

.ReplayInfo__dropdown-button:hover {
    cursor: pointer;
}

.ReplayInfo__dropdown-button:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--primary-light-3) inset;
}

.ReplayInfo__players {
    grid-area: players;
    justify-self: flex-end;
    margin-top: 5px;
}

.ReplayInfo__player-info {
    display: inline-block;
    padding: 4px 0;
    border-radius: 15px;
}

.ReplayInfo__player-info--user {
    box-shadow: 0 0 10px 1px var(--primary-light-3);
    border: 2px solid var(--primary-light-3);
}

.ReplayInfo__player-info--player1 {
    margin-right: 20px;
}

.ReplayInfo__player-name {
    margin: 0 0 10px;
    font-size: 16px;
    display: inline;
    padding: 4px 8px;
    background-color: var(--primary-light-1);
    border-radius: 0 15px 15px 0;
}

.ReplayInfo__player-details {
    color: var(--grey);
}

.ReplayInfo__player {
    border-radius: 15px 0 0 15px;
    padding: 4px 10px;
    padding-right: 8px;
}

.ReplayInfo__player--1 {
    background-color: hsla(0, 100%, 55%, 0.6);
    color: hsl(0, 0%, 85%);
}

.ReplayInfo__player--2 {
    background-color: hsla(240, 80%, 55%, 0.6);
    color: hsl(0, 0%, 85%);
}

.ReplayInfo__matchup {
    grid-area: matchup;
    margin: 0;
    font-size: 28px;
    align-self: center;
}

.ReplayInfo__map {
    margin: 0;
    grid-area: map;
    align-self: center;
    font-size: 28px;
}

.ReplayInfo__gameLength {
    grid-area: game-length;
    align-self: center;
    font-size: 18px;
}

.ReplayInfo__result {
    grid-area: result;
    align-self: center;
    font-size: 18px;
}

.ReplayInfo__date {
    grid-area: date;
    font-size: 16px;
    align-self: flex-start;
    color: var(--grey);
}

.ReplayInfo__result--win {
    background-color: var(--green-highlight);
    border-radius: 15px;
    padding: 4px 10px;
}

.ReplayInfo__result--loss {
    background-color: var(--red-highlight);
    border-radius: 15px;
    padding: 4px 10px;
}


@media (max-width: 1500px) {
    .ReplayInfo__stats {
        grid-column-gap: 20px;
    }
}

@media (max-width: 1400px) {
    .ReplayInfo {
        margin-left: 20px;
    }

    .ReplayInfo__stats {
        grid-column-gap: 0;
    }
}

@media (max-width: 1350px) {
    .ReplayInfo__stats {
        grid-template: repeat(2, max-content) / repeat(2, min-content);
        margin: 0 0 30px;
    }

    .ReplayInfo__players {
        margin-right: 0;
    }
}

@media (max-width: 1025px) {
    .ReplayInfo__matchup,
    .ReplayInfo__map {
        font-size: 26px;
    }

    .ReplayInfo__player-info,
    .ReplayInfo__player-name {
        font-size: 14px;
    }
}
