.Replays {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 530px;
    grid-template-areas: 'main-content sidebar';
    overflow-y: hidden;
}

.Replays__main-content {
    grid-area: main-content;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px 5px 20px;
    padding-left: 0;
    margin: 5px 0;
    margin-right: 5px;
}

.Replays__sidebar {
    grid-area: sidebar;
    overflow-y: hidden;
    border-left: 1px solid var(--primary-light-2);
    padding-right: 5px;
    padding-bottom: 10px;
    background-color: var(--primary-dark-2);
}

.replay-stats {
    width: max-content;
    margin: 20px auto 0;
}

.replay-stats--default {
    width: max-content;
    margin: 0 auto;
}

.replay-stats__stats {
    display: grid;
    grid-template: repeat(2, max-content) / repeat(2, 1fr);
    grid-template-areas:
    'general economic'
    'PAC efficiency';
    #grid-column-gap: 80px;
    justify-self: center;
    margin: 0 auto;
    border-radius: 15px;
}

/*@media (max-width: 1500px) {
    .replay-stats__stats {
        grid-column-gap: 20px;
    }
}*/

@media (max-width: 1400px) {
    .replay-stats__stats {
        grid-column-gap: 0;
    }
}

@media (max-width: 1350px) {
    .replay-stats__stats {
        grid-template: repeat(2, max-content) / repeat(2, min-content);
        margin: 0 0 30px;
    }
}
