.ReplayRecord {
    display: grid;
    grid-template: min-content min-content / repeat(5, max-content);
    grid-template-areas:
    'matchup map map player1 compare-player1'
    'date result result player2 compare-player2';
    grid-gap: 5px 15px;
    height: min-content;
    width: 450px;
    margin: 10px auto;
    margin-right: 13px;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--secondary-dark-3);
}

.ReplayRecord:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary-light-2) inset;
}

.ReplayRecord__stat--win {
    background-color: var(--green-highlight);
    border-radius: 15px;
    padding: 4px 10px;
}

.ReplayRecord__stat--loss {
    background-color: var(--red-highlight);
    border-radius: 15px;
    padding: 4px 10px;
}

.ReplayRecord--selected {
    background-color: var(--primary-light-2);
}

.ReplayRecord--comparison {
    box-shadow: 0 0 0 2px var(--primary-blue) inset;
}

.ReplayRecord__matchup {
    grid-area: matchup;
    font-size: 24px;
}

.ReplayRecord__map {
    grid-area: map;
    font-size: 20px;
}

.ReplayRecord__gameLength {
    grid-area: game-length;
    font-size: 16px;
}

.ReplayRecord__result {
    grid-area: result;
    font-size: 16px;
}

.ReplayRecord__date {
    grid-area: date;
    font-size: 14px;
    align-self: flex-end;
    color: var(--grey);
}

.ReplayRecord__player1 {
    grid-area: player1;
    align-self: flex-start;
    justify-self: flex-end;
    margin-top: 3px;
}

.ReplayRecord__player2 {
    grid-area: player2;
    align-self: flex-end;
    justify-self: flex-end;
}

.ReplayRecord__compare-replay {
    margin-left: -5px;
    text-align: center;
    background-color: var(--primary-light-3);
    border-radius: 50%;
    border: none;
    width: 20px;
    height: 20px;
    color: var(--text);
}

.ReplayRecord__compare-replay:hover,
.ReplayRecord__compare-replay:focus {
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 0 1px var(--primary-blue) inset;
    border-radius: 50%;
}

.ReplayRecord__compare-replay--player1 {
    grid-area: compare-player1;
    margin-top: 3px;
}

.ReplayRecord__compare-replay--player2 {
    grid-area: compare-player2;
}