.replay-stats {
    width: max-content;
    margin: 20px auto 0;
}

.replay-stats--default {
    width: max-content;
    margin: 0 auto;
}

.replay-stats__stats {
    display: grid;
    grid-template: repeat(2, max-content) / repeat(2, 1fr);
    grid-template-areas:
    'general economic'
    'PAC efficiency';
    grid-column-gap: 80px;
    justify-self: center;
    margin: 0 auto;
}

@media (max-width: 1500px) {
    .replay-stats__stats {
        grid-column-gap: 20px;
    }
}

@media (max-width: 1400px) {
    .replay-stats__stats {
        grid-column-gap: 0;
    }
}

@media (max-width: 1350px) {
    .replay-stats__stats {
        grid-template: repeat(2, max-content) / repeat(2, min-content);
        margin: 0 0 30px;
    }
}
