.recharts-surface:hover {
    cursor: pointer;
}

.ReplayTimeline {
    margin: 10px 0 0;
}

.ReplayTimeline__chart-area {
    display: grid;
    grid-template: 200px max-content / 1fr;
    grid-template-areas:
    'timeline'
    'chart-selector';
    grid-row-gap: 10px;
    margin-bottom: 20px;
}

.ReplayTimeline__timeline {
    grid-area: timeline;
    background-color: var(--secondary-dark-3);
    border-radius: 20px;
}

.ReplayTimeline__chart-selector {
    grid-area: chart-selector;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ReplayTimeline__chart-stat {
    color: var(--text);
    flex-grow: 1;
    flex-basis: 15%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 8px;
    min-width: 145px;
    margin-bottom: 10px;
    margin-right: 5px;
    background-color: var(--primary-light-1);
    border-radius: 20px;
    border: none;
}

.ReplayTimeline__chart-stat:last-child {
    margin-right: 0;
}

.ReplayTimeline__chart-stat:hover,
.ReplayTimeline__chart-stat:focus {
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 0 2px var(--primary-blue) inset;
}

.ReplayTimeline__chart-stat--active {
    box-shadow: 0 0 0 2px var(--primary-blue) inset;
}

.ReplayTimeline__metric {
    padding: 0 5px;
}

.ReplayTimeline__metric-chart {
    margin: 0 auto;
}

.ReplayTimeline__metric--resource_collection_rate_all {
    grid-area: collection-rate;
}

.ReplayTimeline__metric--total_army_value {
    grid-area: army-value;
}

.ReplayTimeline__metric--_resources_lost {
    grid-area: resources-lost;
}

.ReplayTimeline__metric-stat {
    margin: 0 0 5px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.ReplayTimeline__metric-value {
    margin: 10px 0;
    font-size: 14px;
}

.ReplayTimeline__metric-value:first-of-type {
    margin-top: 0;
}

.ReplayTimeline__metric-value:last-of-type {
    margin-bottom: 0;
}

.timeline-state__players {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    grid-template-areas: 'timeline-state-player1 timeline-state-central timeline-state-player2';
    margin: 10px 0;
    margin-left: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--primary-light-3);
}

.timeline-state__central {
    align-self: flex-end;
    align-items: flex-end;
    justify-self: center;
    display: grid;
    grid-template-columns: 80px min-content 80px;
}

.timeline-state__current-time {
    font-size: 32px;
    margin: 0 10px;
}

.timeline-state__supply-value {
    font-size: 16px;
    text-align: center;
}

.timeline-state__supply-block-value {
    font-size: 14px;
    color: var(--grey);
    text-align: center;
}

.timeline-state__player-supply--player1 {
    text-align: right;
}

.timeline-state__player-supply--player2 {
    text-align: left;
}

.timeline-state__player {
    display: flex;
    align-items: center;
    width: max-content;
    font-size: 24px;
}

.timeline-state__player--player1 {
    grid-area: timeline-state-player1;
    justify-self: flex-start;
}

.timeline-state__player--player2 {
    grid-area: timeline-state-player2;
    justify-self: flex-end;
}

.timeline-state__player-name {
    margin: 0 10px;
}

.timeline-state__race-icon {
    height: 30px;
}

#tooltip {
    height: max-content;
    margin: 0 30px;
    padding: 10px;
    border-radius: 15px;
    background-color: hsla(209, 77%, 14%, 0.9);
    border: 1px solid var(--primary-light-3);
}

/* putting rendered charts at the back */
.ReplayTimeline__metric-chart .recharts-wrapper {
    z-index: -1;
}

.tooltip__content {
    padding: 0;
    margin: 0;
}

.tooltip__current-time {
    font-size: 24px;
}

.tooltip__player--player1 {
    padding-right: 10px;
}

.tooltip__player--player2 {

}

.tooltip__player {
    text-align: center;
    font-size: 18px;
}

.tooltip__player-indicator {
    margin-right: 5px;
    margin-bottom: 2px;
}

.tooltip__stat-name {
    padding-right: 10px;
}

.tooltip__stat-values {
    text-align: center;
}
