@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

.ReplayInfo {
    position: relative;
    display: grid;
    grid-template: max-content min-content / repeat(2, max-content) 1fr;
    grid-template-areas:
    'replay-opponent-race replay-match-info replay-players'
    'replay-date share-replay download';
    grid-gap: 15px 10px;
    margin: 20px 40px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--secondary-dark-3);
}

.ReplayInfo__replay-download {
    grid-area: download;
    padding: 8px 12px;
    border: 1px solid var(--primary-light-3);
    background-color: var(--secondary-dark-2);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
    border-radius: 8px;
    width: max-content;
    height: min-content;
    transition: .3s;
    justify-self: flex-end;
}

.ReplayInfo__replay-download:visited {
    color: var(--text);
}

.ReplayInfo__share-replay {
    grid-area: share-replay;
    position: relative;
    align-self: center;
    background-color: var(--secondary-dark-2);
    border-radius: 15px;
    border: 1px solid var(--primary-light-3);
    height: min-content;
    left: 90px;
}

.ReplayInfo__share-replay * {
    color: var(--text);
    font-size: 12px;
    font-family: 'IBM Plex Mono', monospace;
}

.ReplayInfo__replay-label {
    padding: 4px 8px;
    padding-right: 5px;
}

.ReplayInfo__replay-url {
    width: 300px;
    text-align: center;
    background-color: transparent;
    border: none;
    border-left: 1px solid var(--primary-light-3);
    padding: 4px 8px;
    padding-left: 2px;
}

.ReplayInfo__replay-url:focus {
    outline: none;
}

.ReplayInfo__opponent-race {
    grid-area: replay-opponent-race;
    width: 85px;
    text-align: center;
    padding: 6px 12px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 400;
}

.ReplayInfo__opponent-race--Protoss {
    box-shadow: 0 0 0 1px var(--protoss) inset;
    background-color: var(--protoss-background);
}

.ReplayInfo__opponent-race--Terran {
    box-shadow: 0 0 0 1.5px var(--terran) inset;
    background-color: var(--terran-background);
}

.ReplayInfo__opponent-race--Zerg {
    box-shadow: 0 0 0 1.5px var(--zerg) inset;
    background-color: var(--zerg-background);
}

.ReplayInfo__match-info {
    grid-area: replay-match-info;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    justify-self: center;
    font-size: 24px;
}

.ReplayInfo__match-info * {
    height: max-content;
}

.ReplayInfo__map {
    margin: 0 20px;
}

.ReplayInfo__date {
    grid-area: replay-date;
    font-size: 18px;
    align-self: center;
    color: var(--grey);
}

.ReplayInfo__players {
    grid-area: replay-players;
    display: flex;
    align-self: center;
    justify-self: flex-end;
}

.ReplayInfo__player {
    display: flex;
    font-size: 24px;
}

.ReplayInfo__player:first-child {
    margin-right: 20px;
}

.ReplayInfo__player-race-icon {
    height: 30px;
    margin-top: -2px;
    margin-right: 10px;
}

.ReplayInfo__match-info-field--name {
    margin-right: 10px;
}

.ReplayInfo__player-info {
    display: inline-block;
    padding: 4px 0;
    border-radius: 15px;
}

.ReplayInfo__player-info--user {
    box-shadow: 0 0 10px 1px var(--primary-light-3);
    border: 2px solid var(--primary-light-3);
}

.ReplayInfo__player-info--player1 {
    margin-right: 20px;
}

.ReplayInfo__player-name {
    margin: 0 0 10px;
    font-size: 16px;
    display: inline;
    padding: 4px 8px;
    background-color: var(--primary-light-1);
    border-radius: 0 15px 15px 0;
}

@media (max-width: 1500px) {
    .ReplayInfo__stats {
        grid-column-gap: 20px;
    }
}

@media (max-width: 1400px) {
    .ReplayInfo {
        margin-left: 20px;
    }

    .ReplayInfo__stats {
        grid-column-gap: 0;
    }
}

@media (max-width: 1350px) {
    .ReplayInfo__stats {
        grid-template: repeat(2, max-content) / repeat(2, min-content);
        margin: 0 0 30px;
    }

    .ReplayInfo__players {
        margin-right: 0;
    }
}

@media (max-width: 1025px) {
    .ReplayInfo__matchup,
    .ReplayInfo__map {
        font-size: 26px;
    }

    .ReplayInfo__player-info,
    .ReplayInfo__player-name {
        font-size: 14px;
    }
}
