.ReplayView {
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
    padding-left: 25px;
    grid-area: replay-view;
}

.ReplayView__default {
    width: max-content;
    margin: 20px auto;
}
