.Replays {
    height: 100%;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr 530px;
    grid-template-areas:
    'replay-info replay-list'
    'replay-view replay-list';
    overflow: hidden;
}
