.ReplayRecord {
    display: grid;
    grid-template: min-content min-content / max-content 1fr;
    grid-template-areas:
    'opponent-race match-info'
    'date match-players';
    grid-gap: 5px 20px;
    height: min-content;
    width: 450px;
    margin: 10px auto;
    margin-right: 13px;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.ReplayRecord--win {
    box-shadow: 0 0 0 2px var(--green-highlight) inset;
    background-color: var(--green-background);
}

.ReplayRecord--loss {
    box-shadow: 0 0 0 2px var(--red-highlight) inset;
    background-color: var(--red-background);
}

.ReplayRecord:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary-blue) inset;
}

.ReplayRecord--selected {
    box-shadow: none;
    background-color: var(--primary-light-1);
}

.ReplayRecord--comparison {
    box-shadow: 0 0 0 2px var(--primary-blue) inset;
}

.ReplayRecord__opponent-race {
    grid-area: opponent-race;
    display: flex;
    align-items: center;
    width: 100px;
    text-align: center;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 400;
}

.ReplayRecord__opponent-race-icon {
    height: 25px;
    margin-right: 8px;
}

.ReplayRecord__match-info {
    grid-area: match-info;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    font-size: 18px;
}

.ReplayRecord__match-info-field {
    height: max-content;
}

.ReplayRecord__match-info-field--map {
    margin: 0 20px;
}

.ReplayRecord__match-info-field--date {
    grid-area: date;
    font-size: 14px;
    text-align: center;
    align-self: flex-end;
    color: var(--grey);
}

.ReplayRecord__match-players {
    grid-area: match-players;
    display: flex;
}

.ReplayRecord__player {
    display: flex;
    font-size: 14px;
}

.ReplayRecord__player:first-child {
    margin-right: 20px;
}

.ReplayRecord__player-race-icon {
    height: 20px;
    margin-top: -2px;
    margin-right: 5px;
}

.ReplayRecord__match-info-field--name {
    margin-right: 10px;
}

.ReplayRecord__compare-replay {
    margin-left: -5px;
    text-align: center;
    background-color: var(--primary-light-3);
    border-radius: 50%;
    border: none;
    width: 20px;
    height: 20px;
    color: var(--text);
}

.ReplayRecord__compare-replay:hover,
.ReplayRecord__compare-replay:focus {
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 0 1px var(--primary-blue) inset;
    border-radius: 50%;
}

.ReplayRecord__compare-replay--player1 {
    grid-area: compare-player1;
    margin-top: 3px;
}

.ReplayRecord__compare-replay--player2 {
    grid-area: compare-player2;
}