.recharts-surface:hover {
    cursor: pointer;
}

.TimelineArea__chart-area {
    display: flex;
    margin-bottom: 20px;
}

.TimelineArea__chart-selector {
    height: max-content;
    margin: auto;
}

.TimelineArea__chart-stat {
    color: var(--text);
    font-size: 14px;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    display: grid;
    place-items: center;
    background-color: var(--primary-light-1);
    border-radius: 20px;
    border: none;
}

.TimelineArea__chart-stat:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary-blue) inset;
}

.TimelineArea__chart-stat--active {
    box-shadow: 0 0 0 2px var(--primary-blue) inset;
}

.TimelineArea__resource-wrapper {
    display: flex;
    align-items: center;
}

.TimelineArea__resource-type {
    width: 25px;
    height: 25px;
    color: var(--text);
    padding: 10px;
    margin-right: 15px;
    display: grid;
    place-items: center;
    background-color: var(--primary-light-1);
    border-radius: 20px;
    border: none;
}

.TimelineArea__chart-type:last-child,
.TimelineArea__resource-type:last-child {
    margin: 0;
}

.TimelineArea__resource-type--minerals {
    background-color: hsl(190, 100%, 35%);
    box-shadow: 0 0 6px 2px hsl(190, 100%, 35%);
}

.TimelineArea__resource-type--gas {
    background-color: hsl(120, 100%, 35%);
    box-shadow: 0 0 6px 2px hsl(120, 100%, 35%);
}

.TimelineArea__chart-stat:hover,
.TimelineArea__resource-type:hover {
    cursor: pointer;
}

.timeline-state__players {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    grid-template-areas: 'timeline-state-player1 timeline-state-central timeline-state-player2';
    margin: 10px 0;
    margin-left: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--primary-light-3);
}

.timeline-state__central {
    align-self: flex-end;
    align-items: flex-end;
    justify-self: center;
    display: grid;
    grid-template-columns: 80px min-content 80px;
}

.timeline-state__current-time {
    font-size: 32px;
    margin: 0 10px;
}

.timeline-state__supply-value {
    font-size: 16px;
    text-align: center;
}

.timeline-state__supply-block-value {
    font-size: 14px;
    color: var(--grey);
    text-align: center;
}

.timeline-state__player-supply--player1 {
    text-align: right;
}

.timeline-state__player-supply--player2 {
    text-align: left;
}

.timeline-state__player {
    display: flex;
    align-items: center;
    width: max-content;
    font-size: 24px;
}

.timeline-state__player--player1 {
    grid-area: timeline-state-player1;
    justify-self: flex-start;
}

.timeline-state__player--player2 {
    grid-area: timeline-state-player2;
    justify-self: flex-end;
}

.timeline-state__player-info * {
    display: block;
}

.timeline-state__player-mmr {
    font-size: 16px;
    color: var(--grey);
}

.timeline-state__race-icon {
    height: 50px;
    width: 50px;
}

.tooltip__content {
    padding: 0;
    margin: 0;
}

.tooltip__current-time {
    font-size: 24px;
}

.tooltip__player--player1 {
    padding-right: 10px;
}

.tooltip__player--player2 {
    
}

.tooltip__player {
    text-align: center;
    font-size: 18px;
}

.tooltip__player-indicator {
    margin-right: 5px;
    margin-bottom: 2px;
}

.tooltip__stat-name {
    padding-right: 10px;
}

.tooltip__stat-values {
    text-align: center;
}
