.tooltip {
    display: grid;
}

.tooltip__content {
    padding: 0;
    margin: 0;
}

.tooltip__current-time {
    font-size: 24px;
}

.tooltip__player {

}

.tooltip__player--player1 {
    padding-right: 10px;
}

.tooltip__player--player2 {
    
}

.tooltip__player {
    text-align: center;
    font-size: 18px;
}

.tooltip__player-indicator {
    margin-right: 5px;
    margin-bottom: 2px;
}

.tooltip__stat-name {
    padding-right: 10px;
}

.tooltip__stat-values {
    text-align: center;
}
