.timeline-state {
    margin-right: 10px;
}

.timeline-state__image {
    border-radius: 50%;
    margin-left: -10px;
    width: 35px;
    height: 35px;
}

.timeline-state__image:hover {
    cursor: help;
}

.timeline-state__object-count {
    position: relative;
    left: -12px;
    background-color: var(--tertiary-background);
    border-radius: 50%;
    padding: 4px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    width: 14px;
    height: 14px;
}

.timeline-state__object-count--died {
    background-color: hsl(0, 70%, 25%);
}

.timeline-state__object-count--in_progress {
    background-color: var(--grey);
}

.timeline-state__info {
    margin-left: 15px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 50px;
    grid-template-areas: 'unit-info-player1 state-info-title unit-info-player2';
    border-radius: 15px;
    box-shadow: 0 0 0 1px var(--tertiary-background-light) inset;
}

.state-info-title {
    grid-area: state-info-title;
    height: min-content;
    align-self: center;
}

.timeline-state__info-player1 {
    grid-area: unit-info-player1;
    width: max-content;
    align-self: center;
    margin-left: 24px;
}

.timeline-state__info-player2 {
    grid-area: unit-info-player2;
    align-self: center;
    justify-self: flex-end;
    width: max-content;
}

.timeline-state__building-info {
    margin-left: 15px;
}

.timeline-state__units {
    margin-left: 20px;
}

.timeline-state__buildings {
    margin-left: 20px;
}
